<mfee-project-header />
<main>
  <header>
    <div class="hero">
      <h1>TITULO</h1>
      <h2>Subtitulo</h2>
    </div>
    <div class="actions">
      
    </div>
    <div class="filters">
      <ul>
        <button *ngFor="let item of ['All', 'Lorem', 'Travel', 'Ek Balam', 'Food', 'Test', 'Otro', ]">{{item | uppercase}}</button>
      </ul>
    </div>
  </header>
  <section class="cards-container">
    <ul>
      <li *ngFor="let i of [1,2,3,4,5, 6]">
        <article>
          <div>
            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <h4>Category</h4>
            <p>Odio aut beatae illo harum excepturi!</p>
            <p>https://averylongurl.com/to/the/image/path.jpg</p>
          </div>
          <div>
            <button>Edit</button>
            <button>Delete</button>
          </div>
        </article>
      </li>
    </ul>
  </section>
</main>
<footer>
  <p>Footer</p>
</footer>
