@import '../../shared/variables.scss';

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: $spacing-large;
  gap: $spacing-medium;

  header {
    color: $color-text;
    border-radius: $border-radius;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero {
      width: 100%;
      text-align: center;
      h1 {
        font-size: $font-size-title;
        text-wrap: pretty;
        color: $color-primary;
      }
      h2 {
        font-size: $font-size-subtitle;
        color: $color-secondary;
        text-wrap: balance;
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      button {
        background-color: $color-secondary;
        color: $color-background;
        border: none;
        border-radius: $border-radius;
        padding: $spacing-medium $spacing-large;
        font-size: $font-size-base;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      button:hover {
        background-color: darken($color-secondary, 10%);
      }
    }
    .filters {
      display: flex;
      justify-content: center;
      gap: 0;
      max-width: 1200px;
      flex-wrap: wrap;
      margin-top: $spacing-large;
      padding: $spacing-medium;
      border-radius: $border-radius;
      font-weight: 500;
      ul {
        .btn-filter {
          border: $border-width solid $color-accent;
          background-color: $color-background-black;
          border-radius: 0;
          font-size: $font-size-base;
          font-weight: semi-bold;
          padding: $spacing-small $spacing-large;
          color: $color-text;
          &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }
          &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }
          .active {
            background-color: $color-text;
            color: $color-background;
            transition: background-color 0.3s;
            cursor: pointer;
          }
        }
        button:hover {
          background-color: $color-text-dark;
          color: $color-background;
          transition: background-color 0.3s;
          cursor: pointer;
        }
      }
    }
  }
  .cards-container {
    display: flex;
    width: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: $spacing-large;
      li {
        flex: 1 1 300px;
        min-width: 300px;
        max-width: 450px;
        min-height: 300px;
        margin: 0;
        margin-bottom: $spacing-large;
        padding: 0;
        border-radius: $border-radius;

        article {
          border-radius: $border-radius;
          box-shadow: $shadow-1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 400px;
          font-family: $font-family-base;
          position: relative;

          .image-gradient-overlay {
            background-image: linear-gradient(
              to bottom,
              rgba($color-background-black, 0) 40%,
              rgba($color-background-black, 0.6) 60%,
              rgba($color-background-black, 0.8) 100%
            );
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 10;
          }
          .card-content {
            position: absolute;
            //position this to start at half the height
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            z-index: 20;
            padding: $spacing-medium;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            color: $color-background;

            header {
              display: flex;
              flex-direction: column;
              h3 {
                font-size: $font-size-subtitle;
                color: $color-text;
                filter: drop-shadow(0 0 2px $color-background-black);
              }

              h4 {
                font-size: $font-size-base;
                color: $color-text;
                filter: drop-shadow(0 0 2px $color-background-black);
              }
            }
            main {
              p {
                font-size: $font-size-small;
                color: $color-text;
                word-break: break-all;
                margin-bottom: $spacing-medium;
                filter: drop-shadow(0 0 2px $color-background-black);
              }
            }
            footer {
              display: flex;
              justify-content: end;
              gap: $spacing-medium;
              margin-right: ($spacing-large * 2);
              margin-bottom: $spacing-large;
            }
          }
        }

        article:hover {
          box-shadow: $shadow-3;
          transform: scale(1.02);
          transition: transform 0.2s ease-in-out;
        }
      }
    }

    div:last-child {
      display: flex;
      justify-content: flex-end;
      gap: $spacing-medium;
    }
  }
}
