<main>
  <header>
    <div class="hero">
      <h1>{{ pageTitle | titlecase }}</h1>
      <h2>{{ pageSubtitle | titlecase }}</h2>
    </div>
    <div class="actions">
      <mfee-project-action-button [buttonType]="'add'"></mfee-project-action-button>
    </div>
    <div class="filters">
      <ul>
        <button *ngFor="let category of categories" [class.active]="activeFilters.includes(category)" class="btn-filter">
          {{ category | uppercase }}
        </button>
      </ul>
    </div>
  </header>
  <section class="cards-container">
    <ul>
      <li *ngFor="let location of locations">
        <article [mfeeProjectCheckImageUrl]="location.url">
          <div>
            <h3>{{ location.title }}</h3>
            <h4>{{ location.category }}</h4>
            <p>{{ location.description }}</p>
            <p>{{ location.url.slice(0, 200) }}</p>
          </div>
          <div>
            <mfee-project-action-button [buttonType]="'edit'" (buttonClick)="editLocation(location)"></mfee-project-action-button>
            <mfee-project-action-button [buttonType]="'remove'" (buttonClick)="deleteLocation(location)"></mfee-project-action-button>
          </div>
        </article>
      </li>
    </ul>
  </section>
</main>
<mfee-project-popup [showPopup]="isEditPopupOpen" title="Test Popup" (closePopup)="closeEditPopup()">
  {{ selectedLocation | json }}
</mfee-project-popup>
<mfee-project-popup [showPopup]="isDeletePopupOpen" title="Test Popup" (closePopup)="closeRemovePopup()"></mfee-project-popup>
